body{
    background-color: aliceblue;
    padding: 40px;
}

h1,h2{text-align: center;
text-decoration: underline;}

#first-list li{
    list-style-type:square;
    margin:10px
}

img{height: 300px;
width: 100%;
}

ol li{margin: 10px;}
ol{background-color: rgb(144, 195, 205)}
ul{background-color: rgb(144, 195, 205)}
